{% assign text = site.text %}

{% assign site_author = site.authors[site.author] %}
{% if page.author %}
  {% assign page_author = site.authors[page.author] %}
{% else %}
  {% assign page_author = site_author %}
{% endif %}

{% if page.sidebar %}
  {% assign page_sidebar = site.sidebars[page.sidebar] %}
{% else %}{% if page.sidebar_by_name %}
  {% assign page_sidebar = site.sidebars_by_name[page.sidebar_by_name] %}
{% else %}{% if site.sidebar %}
  {% assign page_sidebar = site.sidebars[site.sidebar] %}
{% endif %}{% endif %}{% endif %}

{% if site.pages_url %}
  {% assign site_pages_url = site.pages_url %}
{% else %}
  {% capture site_pages_url %}{{ site.author }}.github.com{% endcapture %}
  {% if site_pages_url == site.repo %}
    {% capture site_pages_url %}http://{{ site.repo }}{% endcapture %}
  {% else %}
    {% capture site_pages_url %}http://{{ site.author }}.github.com/{{ site.repo }}{% endcapture %}
  {% endif %}
{% endif %}

{% if site.repo_url %}
  {% assign site_repo_url = site.repo_url %}
{% else %}
  {% capture site_repo_url %}http://github.com/{{ site.author }}/{{ site.repo }}{% endcapture %}
{% endif %}


{% if page.annotator %}
  {% assign page_annotator = page.annotator %}
{% else %}{% if site.annotator %}
  {% assign page_annotator = site.annotator %}
{% endif %}{% endif %}


{% if page.comments and page.comments.enabled %}
  {% assign page_comments_enabled = page.comments.enabled %}
{% else %}
  {% assign page_comments_enabled = site.comments.enabled %}
{% endif %}

{% if page_comments_enabled == true %}
  {% if site.comments.github.enabled and page.comments_github_id %}
    {% assign page_comments_github_enabled = true %}
    {% assign page_comments_github_id = page.comments_github_id %}
  {% else %}
    {% assign page_comments_github_enabled = false %}
  {% endif %}
  {% if site.comments.disqus.enabled %}
    {% assign page_comments_disqus_enabled = true %}
    {% if page.comments_disqus_identifier %}
      {% assign page_comments_disqus_identifier = page.comments_disqus_identifier %}
    {% else %}
      {% assign page_comments_disqus_identifier = page.url %}
    {% endif %}
    {% if page.comments_disqus_url %}
      {% assign page_comments_disqus_url = page.comments_disqus_url %}
    {% else %}
      {% capture page_comments_disqus_url %}{{ site_pages_url }}{{ page.url }}{% endcapture %}
    {% endif %}
  {% else %}
    {% assign page_comments_disqus_enabled = false %}
  {% endif %}
{% else %}
  {% assign page_comments_github_enabled = false %}
  {% assign page_comments_disqus_enabled = false %}
{% endif %}
