blockquote em {
    display: block;
    line-height: 20px;
    color: #999999;
    font-size: 75%;
}
blockquote em:before {
    content: '\2014 \00A0';
}

#post {
    text-align: justify;
}

#post .twitter-tweet {
    margin: 25px auto !important;
}
